@use "../helpers" as *;


//Карточки реализованы отдельным блоком

.pizza-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: rem(70);

    &__block {
        @include flex-center;
        flex-direction: column;
        row-gap: rem(59);
    }

    &__header {
        @include flex-center;
        column-gap: rem(24);
    }

    &__button {
        border: none;
        padding: rem(20) rem(75);
        background-color: var(--color-orange-1);
        color: var(--color-light);
        font-size: rem(20);
        font-weight: 500;
        border-radius: 100px;
        box-shadow: 0px 1px 5px black;
        transition: box-shadow 0.2s ease 0s;
        
        &.is-active {
            background: var(--gradient-accent);
            box-shadow: none;
        }

        @include hover {
            & {
                transition: box-shadow 0.2s ease 0s;
                box-shadow: 0px 0px 10px 0px var(--color-oranged);
            }
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, auto);
        column-gap: rem(44);
    }

    
    &__design-text {
        &-1 {
            margin-left: rem(-1100);
            margin-top: rem(400);
        }

        &-2 {
            margin-top: rem(-320);
            margin-left: rem(1000);
        }

        &-3 {
            margin-top: rem(-500);
            margin-left: rem(-40);
        }
    }

    &__popular-cards {
        padding-top: 40px;
    }
}

.popular-block {
    background-image: url("../images/most-popular-pizza.png");
    background-repeat: no-repeat;
    width: 1248px;
    height: 286px;
    @include flex-center;

    &__title {
        text-transform: uppercase;
        font-size: rem(44);
        font-weight: 500;
    }
}

