@use "../helpers" as *;

.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(249);


    &__container {
        display: flex;
        flex-direction: column;
        row-gap: rem(22);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: rem(1);
    }
    &__description {
        color: var(--color-gray);
        font-size: rem(20);
        max-width: rem(465);
    }

    &__vector {
        position: absolute;
        margin-left: -200px;
    }

    &__design-text {
        &-1 {
            margin-left: rem(-100);
            margin-top: rem(-120);
        }
        &-2 {
            margin-left: rem(1200);
            margin-top: rem(550);
        }
    }

    &__pizza-poster {
        pointer-events: none;
    }
}