@use "../helpers" as *;

.about-us {
    padding-block: rem(70);
    padding-inline: fluid(130, 40);
    @include flex-center;
    column-gap: fluid(249, 50);


    &__title {
        white-space: nowrap;

        @include custom-tablet {
            text-align: center;
        }
    }


    &__container {
        display: flex;
        flex-direction: column;
        row-gap: rem(22);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: rem(1);

        @include custom-tablet {
            align-items: center;
            justify-content: center;
        }
    }
    &__description {
        color: var(--color-gray);
        font-size: fluid(20, 16);
        max-width: fluid(465, 300);

        @include custom-tablet {
            margin-inline: auto;
            text-align: center;
        }
    }

    &__vector {
        position: absolute;
        margin-left: -200px;
    }

    &__design-text {
        &-1 {
            margin-left: rem(-100);
            margin-top: rem(-120);

            @include custom-tablet {
                margin-left: 0;
                @include abs-x;
            }
        }
        &-2 {
            margin-left: rem(1200);
            margin-top: rem(550);
        }
    }

    &__pizza-poster {
        object-fit: cover;
        width: fluid(720, 390);
        height: fluid(720, 390);
        pointer-events: none;

        @include custom-tablet {
            display: none;
        }
    }
}