@use "../helpers" as *;

.accent-button {
    color: var(--color-light);
    font-weight: 500;
    background: var(--gradient-accent);
    border: none;
    transition: filter 0.4s ease-in 0s;
    position: relative;
    z-index: 2;

    @include hover {
        & {
            filter: hue-rotate(-20deg);
            transition: filter 0.2s ease-in 0s;
        }
    }

    &:active {
        color: var(--color-gray);
    }
}