@use "../helpers" as *;


.events {
    padding-top: rem(90);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(23);
    
    &__event {
        padding-block: rem(86) rem(33);
        padding-left: rem(29);
        height: rem(260);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        row-gap: rem(48);
    }

    &__hero {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: rem(12);
    }

    &__main-title {
        padding-left: rem(206);
    }

    &__description {
        color: var(--color-gray);
        max-width: rem(427);
        font-size: rem(19);
    }

    &__title {
        font-size: rem(25);
        font-weight: 500;
        text-transform: uppercase;
        line-height: 109%;
    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: rem(24);
    }

    &__button-more {
        font-size: rem(15);
        padding: rem(11) rem(84);
        border-radius: 32px;   
        max-width: rem(204); 
    }

    &__how-coockig-container {
        background: url("../images/how-we-cocking.png");
        min-width: rem(400);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &::before {
            content: url("../images/egg-and-becon.png");
            position: absolute;
            left: -135px;
            top: 125px;
        }
    }

    &__hero {
        min-width: rem(410);
    }
    
    &__our-blog-container {
        background: url("../images/our-blog.png");
        min-width: rem(400);
        row-gap: rem(71);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__two-pizza-container {
        background: url("../images/two-pizza.png");
        min-width: rem(615);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__kitchen-tour-container {
        background: url("../images/kitchen-tour.png");
        min-width: rem(615);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &::after {
            content: url("../images/buritto.png");
            position: absolute;
            left: 445px;
            top: -50px;
        }
    }

    &__free-coffe-container {
        background: url("../images/free-coffe-for-pizza.png");
        min-width: rem(400);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &::before {
            content: url("../images/cofee.png");
            position: absolute;
            left: -120px;
            margin-top: -10px;
        }
    }

    &__our-instagram-container {
        background: url("../images/our-instagram.png");
        min-width: rem(400);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__choose-container {
        background: url("../images/choose-up.png");
        min-width: rem(400);
        row-gap: rem(21);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__design-text {
        margin-left: rem(-1100);
        margin-top: rem(-180);
    }
}



