@use "../helpers" as *;

.footer {
    padding: rem(67) rem(130);
    margin-top: rem(50);
    background: var(--gradient-footer);
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    row-gap: rem(105);

    @include mobile {
        @include flex-center;
    }

    &__logo {
        
        font-weight: 800;
        font-size: fluid(34, 24);
        background: var(--gradient-accent);
        @include gradient-color;

        @include mobile {
            margin-inline: auto;
        }
    }


    &__navigation {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: fluid(224, 100);

        @include mobile {
            flex-direction: column;
            row-gap: rem(60);
        }
    }

    &__links-block {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        column-gap: fluid(122, 40);

        @include custom-tablet {
            display: grid;
            grid-template-columns: repeat(2, auto);
            row-gap: rem(40);
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: rem(5);
    }

    &__main-title {
        white-space: nowrap;
        color: var(--color-gray);
        font-weight: 500;
        font-size: fluid(18, 16);  
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: rem(3);
    }

    &__link {
        white-space: nowrap;
        color: var(--color-gray-2); 
        font-size: fluid(16, 14); 

        @include mobile {
            white-space: normal;
            width: rem(90);
        }
    }
    
    &__connection {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            column-gap: fluid(300, 40)
        }

        @include custom-mobile {
            flex-direction: column;
            row-gap: rem(20);
        }
    }

    &__popular-messengers {
        @include flex-center;
        column-gap: rem(5);
    }

    &__phone {
        white-space: nowrap;
        font-size: fluid(21, 18);
        font-weight: 500;
        background: var(--gradient-accent);
        @include gradient-color;
    }
    
}

