@use "../helpers" as *;


.wrapper-ingr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;    
}

.ingredients-popUp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: fluid(65, 10);
    width: fluid(500, 280);
    height: fluid(650, 450);
    background-color: var(--color-light);
    border: rem(2) solid var(--color-light);
    border-radius: 25px;
    padding: fluid(20, 10);

    &__title {
        font-size: fluid(30, 25);
        color: var(--color-dark);
        font-weight: 500;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: fluid(30, 25);
    }

    &__box {
        @include flex-center;
        flex-direction: column;
        row-gap: fluid(20, 10);
    }
    &__button-add {
        background-color: transparent;
        // @include gradient-color;
        // border-image: linear-gradient(30deg, #FF6432 12.12%, #FFA228 86.72%) 1;
        // border-style: solid;
        // border-width: rem(2);
        border: none;
        border-bottom: rem(2) solid var(--color-dark);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-bottom: rem(3);
    
    }

    
    &__count {
        color: var(--color-dark);
        font-weight: 500;
    }

    &__button-order {
        width: fluid(400, 250);
        white-space: nowrap;
    }

    &__total {
        @include flex-center;
        flex-direction: column;
        row-gap: rem(25);
        text-align: center;

        &-price {
            color: var(--color-dark);
            font-weight: 600;
            font-size: fluid(20, 18);
        }
    }
}