@use "../helpers" as *;


.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: 100;
}
.block-popup {
    @include abs-center;


    .container {
        position: relative;
        width: fluid(850, 350);
        background: #fff;
        padding: 40px 30px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        perspective: 2700px;

        &__button-close {
            position: absolute;
            background-color: transparent;
            border: none;
            top:  -30px;
            left: -40px;
            background-color: rgb(207, 108, 108);
        }
    }


    .cover {
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 50%;
        z-index: 98;
        transition: all 1s ease;
        transform-origin: left;
        transform-style: preserve-3d;
        backface-visibility: hidden;

        .front,
        .back {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        .back {
            transform: rotateY(180deg);
        }

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: 10;
        }
    }

    #flip {
        display: none;

        &:checked {
            &~.cover {
                transform: rotateY(-180deg);
            }

            &~.forms .login-form {
                pointer-events: none;
            }
        }
    }

        .forms {
            height: 100%;
            width: 100%;
            background: var(--color-light);

            .form-content {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .login-form,
                .signup-form {
                    width: calc(100% / 2 - 25px);
                }

                .title {
                    position: relative;
                    font-size: rem(24);
                    font-weight: 500;
                    color: var(--color-gray-4);
                }

                .signup-form .title:before {
                    width: 20px;
                }

                .input-boxes {
                    margin-top: 30px;
                }

                .input-box {
                    display: flex;
                    align-items: center;
                    height: 50px;
                    width: 100%;
                    margin: 10px 0;
                    position: relative;

                    input {
                        height: 100%;
                        width: 100%;
                        outline: none;
                        border: none;
                        padding: 0 rem(10);
                        font-size: rem(16);
                        font-weight: 500;
                        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
                        transition: all 0.3s ease;

                        &:focus,
                        &:valid {
                            border-color: var(--color-orange);
                        }
                    }

                    // i {
                    //     position: absolute;
                    //     color: #000000;
                    //     font-size: 47px;
                    // }
                }

                .text {
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--color-gray-4);

                    a {
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .button {
                    color: var(--color-light);
                    margin-top: 40px;

                    input {
                        color: var(--color-light);
                        background: rgb(151, 49, 2);
                        border-radius: 6px;
                        padding: 0;
                        cursor: pointer;
                        transition: all 0.4s ease;

                        &:hover {
                            transition: filter 0.4s ease 0s;
                            filter: hue-rotate(-40deg);
                        }
                    }
                }

                label {
                    color: #5b13b9;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .login-text,
                .sign-up-text {
                    text-align: center;
                    margin-top: 25px;
                }
            }
        }
    }

    @media (max-width: rem(730)) {

        .container .forms .form-content .title {
            @include flex-center;
        }

        .container .forms .form-content {
            @include flex-center;
        }

        .container {
            .cover {
                display: none;
            }

            #flip:checked {
                &~.forms .signup-form {
                    display: block;
                }

                &~.forms .login-form {
                    display: none;
                }
            }
        }

        .form-content {

            .login-form,
            .signup-form {
                width: fluid(600, 200) !important;
            }

            .signup-form {
                display: none;
            }
        }

    }
