@font-face {
    font-family: "Muller";
    src: url("/public/fonts/MullerRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("/public/fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("/public/fonts/MullerExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "AlexBrush";
    src: url("/public/fonts/AlexBrush-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


