@use "helpers" as *;

html {
    overflow-x: hidden;
}

body {
    background: var(--fon-gradient) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-light);
    font-family: "Muller";
    font-weight: 400;

    &.click {
        @include mobile {
            background-color: red !important;
        }
    }

    // &.blur::before {
    //     content: '';
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     backdrop-filter: blur(5px);
    //     z-index: 998;
    // }


}

h1, .h1 {
    @include fluid-text(69, 48);
}

h2, .h2 {
    @include fluid-text(69, 48);
}

// h3, .h3 {
//     @include fluid-text(44, 27);
// }

// h4, .h4 {
//     @include fluid-text(25, 16);
// }


