@use "helpers" as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.hidden-custom-tablet {
  @include custom-tablet {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.hidden-laptop {
  @include laptop {
    display: none !important;  
  }
}

.visible-laptop {
  @include laptop-above {
    display: none !important;  
  }
}






.hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: all 0.4s ease 0s;
  display: none !important;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  transition: all 0.4s ease 0s;
}

.no-scroll {
  height: 100vh;
  position: fixed;
}

.design-text {
  font-family: "AlexBrush";
  font-weight: 400;
  font-size: rem(210);
  position: absolute;
  z-index: -2;
  color: transparent;
  -webkit-text-stroke: 1px rgb(48, 32, 7);
}

