@use "../helpers" as *;


.events {
    padding-top: rem(90);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(23);


    &__event {
        padding-block: rem(86) rem(33);
        padding-left: rem(29);
        height: rem(260);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        row-gap: rem(48);
    }

    &__hero {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: rem(12);
    }

    &__main-title {
        padding-left: rem(206);

        @include custom-laptop {
            padding: 0;
            margin-inline: auto;
        }
    }

    &__description {
        color: var(--color-gray);
        max-width: rem(427);
        font-size: fluid(19, 16);

        @include custom-tablet {
            margin-inline: auto;
            width: fluid(500, 200);
            text-align: center;
        }
    }

    &__title {
        font-size: rem(25);
        font-weight: 500;
        text-transform: uppercase;
        line-height: 109%;
    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: rem(24);    

        @include custom-laptop {
            flex-direction: column;
            row-gap: rem(40);
        }



    }

    &__first-box {
        @include custom-laptop {
            flex-direction: column-reverse;
        }
    }


    &__button-more {
        font-size: rem(15);
        padding: rem(11) rem(84);
        border-radius: 32px;   
        max-width: rem(204); 
    }

    &__how-coockig-container {
        background: url("/public/images/how-we-cocking.png");
        min-width: rem(400);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &::before {
            content: url("/public/images/egg-and-becon.png");
            position: absolute;
            left: -135px;
            top: 125px;

            @include tablet {
                display: none;
            }
        }

        @include custom-laptop {
            min-width: fluid(815, 300);
        }
    }

    &__hero {
        min-width: rem(410);
    }
    
    &__our-blog-container {
        background: url("/public/images/our-blog.png");
        min-width: rem(400);
        row-gap: rem(71);
        background-repeat: no-repeat;
        background-size: cover;

        
        @include custom-laptop {
            min-width: fluid(815, 300);
        }
    }

    &__two-pizza-container {
        background: url("/public/images/two-pizza.png");
        min-width: fluid(615, 300);
        background-repeat: no-repeat;
        background-size: cover;

        @include custom-laptop {
            min-width: fluid(815, 300);
        }
    }

    &__kitchen-tour-container {
        background: url("/public/images/kitchen-tour.png");
        min-width: fluid(615, 300);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;


        &::after {
            content: url("/public/images/buritto.png");
            position: absolute;
            left: 445px;
            top: -50px;

            @include custom-laptop {
                left: 77%;
                margin-top: 50px;
            }

            @include tablet {
                display: none;
            }
        }

        @include custom-laptop {
            min-width: fluid(815, 300);
        }
    }

    &__free-coffe-container {
        background: url("/public/images/free-coffe-for-pizza.png");
        min-width: rem(400);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @include custom-laptop {
            min-width: fluid(815, 300);
        }

        &::before {
            content: url("/public/images/cofee.png");
            position: absolute;
            left: -28%;
            margin-top: -9%;
            
            @include custom-laptop {
                left: -22%;
                margin-top: -5%;

                @include tablet {
                    display: none;
                }
            }
        }
    }

    &__our-instagram-container {
        background: url("/public/images/our-instagram.png");
        min-width: rem(400);
        background-repeat: no-repeat;
        background-size: cover;

        @include custom-laptop {
            min-width: fluid(815, 300);
        }

    }

    &__choose-container {
        background: url("/public/images/choose-up.png");
        min-width: rem(400);
        row-gap: rem(21);
        background-repeat: no-repeat;
        background-size: cover;

        @include custom-laptop {
            min-width: fluid(815, 300);
        }

    }

    &__design-text {
        margin-left: -50%;
        margin-top: rem(-180);
    }
}



