@use "../helpers" as *;

.hero {
    border-bottom: rem(2) dashed var(--color-light);
    padding-inline: fluid(130, 40);
    padding-top: fluid(61, 31);
    padding-bottom: fluid(90, 40);
    display: flex;
    flex-direction: row;

    @include custom-tablet {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        row-gap: rem(40);
        padding-top: fluid(25, 20);

    }



    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: rem(18);
    }

    &__box {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        // column-gap: fluid(10, 7);
    }

    &__icon {
        @include custom-mobile-s {
            width: fluid(89, 79);
            height: fluid(49, 39);
        }
    }
    &__title {
        max-width: rem(538);
        line-height: 1.2;
        position: relative;

        @include custom-tablet {
            text-align: center;

            &::after {
                display: none;
            }
        }

        @include custom-mobile-s {
            font-size: fluid(45, 35);
        }

        &::after {
            content: url("/public/icons/vector.svg");
            position: absolute;
            right: 0.4em;
            top: 0;
        }
    }

    &__description-block {
        display: flex;
        flex-direction: column;
        row-gap: rem(25);

        @include custom-tablet {
            @include flex-center;
        }
    }

    &__description {
        font-size: rem(20);
        max-width: rem(419);
        color: var(--color-gray);

        @include custom-tablet {
            text-align: center;
        }
    }

    &__highlighting {
        color: var(--color-light);
    }

    &__video {
        background-image: url("/public/images/pizza-video.jpg");
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        border-radius: 23px;
        max-width: 272px;
        height: 184px;
        @include flex-center;
        transition: scale 0.4s ease-in 0s;
    }

    &__coocking-block {
        
        @include custom-tablet {
            @include flex-center;
        }
    }

    &__open-video {
        background-color: transparent;
        border: none;
        transition: scale 0.3s ease-in 0s;

        

        @include hover {
            & {
                transition: scale 0.2s ease-in 0s;
                scale: 1.2;
            }
        }

        &:active {
            scale: 1.1;
            transition: none;
        }

        &-icon {
            width: 150px;
            height: 150px;
        }
    }

    &__coocking-block {
        display: flex;
        flex-direction: column;
        row-gap: rem(12);
    }

    &__coocking-box {
        display: flex;
        flex-direction: column;
        row-gap: rem(80);
    }

    &__button {
        white-space: nowrap;
        border: rem(2) dotted var(--color-light);
        border-radius: 100px;
        max-width: fluid(240, 160);
        padding-inline: fluid(10, 5);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-block: fluid(10, 7);
        color: var(--color-brown);
        font-size: fluid(25, 20);
        -webkit-text-stroke: rem(0.3) var(--color-light);
        cursor: pointer;
        transition: all 0.4s ease 0s;

        @include hover {
            -webkit-text-stroke: 0 transparent;
            color: var(--color-oranged);
            transition: all 0.4s ease 0s;
            border: rem(2) dotted var(--color-oranged);
            box-shadow: inset 0px 0px 20px 0px var(--color-dark);
        }     


        &::after {
            content: url("/public/icons/vector-2.svg");
            position: absolute;
            margin-left: rem(390);
            margin-top: rem(200);
            pointer-events: none;
        }

        @include custom-tablet {
            padding-inline: fluid(20, 15);
            margin-inline: auto;

            &::after {
                display: none;
            }
        }

        // &:hover::after {
        //     animation-name: vector;
        //     animation-duration: 500ms;
        //     animation-timing-function: ease;
        //     animation-iteration-count: 1;
        //     animation-fill-mode: forwards;
        // }

        // @keyframes vector {
        //     0% {
        //         opacity: 0;
        //     }
        //     100% {
        //         opacity: 1;
        //     }
        // }
    
    }

    &__design-text {

        &-1 {
            margin-left: -5%;
            margin-top: rem(-120);
        }

        &-2 {
            margin-left: 65%;
            margin-top: rem(-180);

            @include custom-tablet {
                display: none;
            }
        }

        &-3 {
            margin-left: 55%;
            margin-top: rem(170);

            @include custom-tablet {
                display: none;
            }
        }
    }

    &__pizza-poster {
        pointer-events: none;
        width: clamp(440px, 630px, 670px);
        height: fluid(844, 644);
        top: 7%;
        left: 67%;
        position: absolute;
        background-size: cover;

        @include custom-tablet {
            position: relative;
            left: 4%;
            top: 0;
            margin: 0;
            // width: rem(686);
            // height: rem(379);
        }

        @include custom-mobile {
            width: fluid(600, 300);
            height: fluid(600, 300);
        }
    }

    // &__line {
    //     margin-top: 60px;
    // }
}



@media (min-width: rem(1450)) and (max-width: rem(1625)) {
  .hero__pizza-poster  {
    left: 62%;
    top: 6%;
  }
}




@media (min-width: rem($castom-tablet)) and (max-width: rem(1450)) {
  .hero__pizza-poster  {
    left: 56%;
    top: 5%;
  }
}
