@charset "UTF-8";
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AlexBrush";
  src: url("../fonts/AlexBrush-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  overflow-x: hidden;
}

body {
  background: var(--fon-gradient) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-light);
  font-family: "Muller";
  font-weight: 400;
}
@media (width <= 47.99875rem) {
  body.click {
    background-color: red !important;
  }
}

h1, .h1 {
  font-size: clamp(3rem, 2.5769628099rem + 1.7355371901vw, 4.3125rem);
}

h2, .h2 {
  font-size: clamp(3rem, 2.5769628099rem + 1.7355371901vw, 4.3125rem);
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width <= 74.99875rem) {
  .hidden-custom-tablet {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width <= 90.06125rem) {
  .hidden-laptop {
    display: none !important;
  }
}

@media (width > 90.06125rem) {
  .visible-laptop {
    display: none !important;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
  display: none !important;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  transition: all 0.4s ease 0s;
}

.no-scroll {
  height: 100vh;
  position: fixed;
}

.design-text {
  font-family: "AlexBrush";
  font-weight: 400;
  font-size: 13.125rem;
  position: absolute;
  z-index: -2;
  color: transparent;
  -webkit-text-stroke: 1px rgb(48, 32, 7);
} /* Pizza */
:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-black-1: #1D0800;
  --color-gray-4: #333;
  --color-orange-1: #210A01;
  --color-gray: #A3A3A3;
  --color-gray-3: #dadada;
  --color-gray-2: #515151;
  --color-brown: rgb(22, 10, 2);
  --color-brown-2: #0a0500;
  --color-oranged: #FF4500;
  --color-red: #d12e2e;
  --border: 0.0625rem solid var(--color-gray);
  --text-shadow: 1px 1px 10px orange, 2px 1px 10px orangered;
  --fon-gradient: linear-gradient(245.71deg, #1E0C00 4.96%, #1F0700 33.7%, #170A00 68.41%, #1E0D00 96.42%);
  --gradient-accent: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
  --gradient-footer: linear-gradient(245.71deg, #170A00 4.96%, #170600 33.7%, #0F0700 68.41%, #170A00 96.42%);
  --gradinet-stroke-text: linear-gradient(180deg, rgba(255, 101, 51, 0.33) 0%, #FFA733 100%);
  --font-basic: "Muller";
}

.header {
  padding: clamp(2.375rem, 2.173553719rem + 0.826446281vw, 3rem) clamp(0.9375rem, -1.3589876033rem + 9.4214876033vw, 8.0625rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: clamp(0.3125rem, -3.5351239669rem + 15.7851239669vw, 12.25rem);
       column-gap: clamp(0.3125rem, -3.5351239669rem + 15.7851239669vw, 12.25rem);
}
.header__logo {
  font-weight: 800;
  font-size: clamp(1.5rem, 1.298553719rem + 0.826446281vw, 2.125rem);
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (width > 47.99875rem) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .header__overlay.is-active {
    animation: shadow 0.9s 1 ease-in 0.3s both;
    width: 100vw;
    height: 102vh;
    inset: 0;
    background: var(--gradient-footer);
    position: fixed;
    flex-direction: column;
    row-gap: 3.125rem;
    z-index: 42;
  }
  @keyframes shadow {
    from {
      box-shadow: none;
    }
    to {
      box-shadow: inset 0 0 50px 20px var(--color-dark);
    }
  }
}
.header__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: clamp(1.25rem, 5vw, 5rem);
       column-gap: clamp(1.25rem, 5vw, 5rem);
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    display: none;
    opacity: 0;
  }
  .header__menu-list.is-active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 6.5625rem;
    opacity: 1;
  }
}
.header__menu-item {
  display: inline-flex;
  position: relative;
}
@media (width <= 47.99875rem) {
  .header .item:nth-child(odd) {
    animation: odd-animation 0.4s 1 ease-in 0.2s both;
  }
  .header .item:nth-child(even) {
    transform: translateX(110vw);
    animation: even-animation 0.4s 1 ease-in 0.3s both;
  }
  @keyframes odd-animation {
    from {
      opacity: 0;
      transform: translateX(-110vw);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes even-animation {
    from {
      opacity: 0;
      transform: translateX(110vw);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
.header__menu-link {
  font-size: clamp(1rem, 0.9597107438rem + 0.1652892562vw, 1.125rem);
  color: var(--color-gray);
  position: relative;
  white-space: nowrap;
}
@media (width <= 47.99875rem) {
  .header__menu-link {
    font-size: 2.1875rem;
    padding: 0.625rem;
    border: 0.125rem solid var(--color-light);
    width: 45vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s ease 0s;
  }
}
@media (width <= 47.99875rem) and (any-hover: hover) {
  .header__menu-link:hover {
    transition: color 0.2s ease 0s;
    color: var(--color-light);
  }
}
@media (width <= 47.99875rem) and (any-hover: none) {
  .header__menu-link:active {
    transition: color 0.2s ease 0s;
    color: var(--color-light);
  }
}
.header__menu-link::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.125rem;
  background: var(--gradient-accent);
  content: "";
  transition: width 0.3s ease-out;
}
@media (width <= 47.99875rem) {
  .header__menu-link::after {
    display: none;
  }
}
.header__menu-link:hover::after {
  width: 100%;
}
@media (any-hover: hover) {
  .header__menu-link:hover {
    background: var(--gradient-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
@media (any-hover: none) {
  .header__menu-link:active {
    background: var(--gradient-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
.header__box {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.625rem;
       column-gap: 1.625rem;
}
@media (width <= 47.99875rem) {
  .header__box {
    -moz-column-gap: 1.4375rem;
         column-gap: 1.4375rem;
    flex-direction: row-reverse;
  }
}
@media (width <= 30.06125rem) {
  .header__box {
    -moz-column-gap: 0.625rem;
         column-gap: 0.625rem;
  }
}
.header__button-favourites {
  background-color: transparent;
  border: none;
  aspect-ratio: 1/1;
  width: clamp(45px, 5vw, 60px);
  height: auto;
}
@media (any-hover: hover) {
  .header__button-favourites:hover {
    filter: hue-rotate(-20deg);
    transition: filter 0.2s ease-in 0s;
  }
}
@media (any-hover: none) {
  .header__button-favourites:active {
    filter: hue-rotate(-20deg);
    transition: filter 0.2s ease-in 0s;
  }
}
.header__icon-favourites {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
.header__button-login {
  font-size: 1.125rem;
  font-weight: 500;
  border: none;
  border-radius: 100px;
  color: var(--color-light);
  padding: clamp(0.3125rem, 0.5625rem, 0.625rem) clamp(1.25rem, 2.875rem, 3.5rem);
  background: var(--gradient-accent);
  white-space: nowrap;
}
@media (width <= 63.99875rem) {
  .header__button-login {
    display: none;
  }
}
.header__button-login, .header__button-favourites {
  position: relative;
  z-index: 27;
}

.hero {
  border-bottom: 0.125rem dashed var(--color-light);
  padding-inline: clamp(2.5rem, 0.6869834711rem + 7.4380165289vw, 8.125rem);
  padding-top: clamp(1.9375rem, 1.333161157rem + 2.479338843vw, 3.8125rem);
  padding-bottom: clamp(2.5rem, 1.492768595rem + 4.132231405vw, 5.625rem);
  display: flex;
  flex-direction: row;
}
@media (width <= 74.99875rem) {
  .hero {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    row-gap: 2.5rem;
    padding-top: clamp(1.25rem, 1.1492768595rem + 0.4132231405vw, 1.5625rem);
  }
}
.hero__inner {
  display: flex;
  flex-direction: column;
  row-gap: 1.125rem;
}
.hero__box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
@media (width <= 23.74875rem) {
  .hero__icon {
    width: clamp(4.9375rem, 4.736053719rem + 0.826446281vw, 5.5625rem);
    height: clamp(2.4375rem, 2.236053719rem + 0.826446281vw, 3.0625rem);
  }
}
.hero__title {
  max-width: 33.625rem;
  line-height: 1.2;
  position: relative;
}
@media (width <= 74.99875rem) {
  .hero__title {
    text-align: center;
  }
  .hero__title::after {
    display: none;
  }
}
@media (width <= 23.74875rem) {
  .hero__title {
    font-size: clamp(2.1875rem, 1.986053719rem + 0.826446281vw, 2.8125rem);
  }
}
.hero__title::after {
  content: url("../icons/vector.svg");
  position: absolute;
  right: 0.4em;
  top: 0;
}
.hero__description-block {
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
}
@media (width <= 74.99875rem) {
  .hero__description-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.hero__description {
  font-size: 1.25rem;
  max-width: 26.1875rem;
  color: var(--color-gray);
}
@media (width <= 74.99875rem) {
  .hero__description {
    text-align: center;
  }
}
.hero__highlighting {
  color: var(--color-light);
}
.hero__video {
  background-image: url("../images/pizza-video.jpg");
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  border-radius: 23px;
  max-width: 272px;
  height: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 0.4s ease-in 0s;
}
@media (width <= 74.99875rem) {
  .hero__coocking-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.hero__open-video {
  background-color: transparent;
  border: none;
  transition: scale 0.3s ease-in 0s;
}
@media (any-hover: hover) {
  .hero__open-video:hover {
    transition: scale 0.2s ease-in 0s;
    scale: 1.2;
  }
}
@media (any-hover: none) {
  .hero__open-video:active {
    transition: scale 0.2s ease-in 0s;
    scale: 1.2;
  }
}
.hero__open-video:active {
  scale: 1.1;
  transition: none;
}
.hero__open-video-icon {
  width: 150px;
  height: 150px;
}
.hero__coocking-block {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.hero__coocking-box {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
.hero__button {
  white-space: nowrap;
  border: 0.125rem dotted var(--color-light);
  border-radius: 100px;
  max-width: clamp(10rem, 8.3884297521rem + 6.6115702479vw, 15rem);
  padding-inline: clamp(0.3125rem, 0.2117768595rem + 0.4132231405vw, 0.625rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-block: clamp(0.4375rem, 0.3770661157rem + 0.2479338843vw, 0.625rem);
  color: var(--color-brown);
  font-size: clamp(1.25rem, 1.1492768595rem + 0.4132231405vw, 1.5625rem);
  -webkit-text-stroke: 0.01875rem var(--color-light);
  cursor: pointer;
  transition: all 0.4s ease 0s;
}
@media (any-hover: hover) {
  .hero__button:hover {
    -webkit-text-stroke: 0 transparent;
    color: var(--color-oranged);
    transition: all 0.4s ease 0s;
    border: 0.125rem dotted var(--color-oranged);
    box-shadow: inset 0px 0px 20px 0px var(--color-dark);
  }
}
@media (any-hover: none) {
  .hero__button:active {
    -webkit-text-stroke: 0 transparent;
    color: var(--color-oranged);
    transition: all 0.4s ease 0s;
    border: 0.125rem dotted var(--color-oranged);
    box-shadow: inset 0px 0px 20px 0px var(--color-dark);
  }
}
.hero__button::after {
  content: url("../icons/vector-2.svg");
  position: absolute;
  margin-left: 24.375rem;
  margin-top: 12.5rem;
  pointer-events: none;
}
@media (width <= 74.99875rem) {
  .hero__button {
    padding-inline: clamp(0.9375rem, 0.8367768595rem + 0.4132231405vw, 1.25rem);
    margin-inline: auto;
  }
  .hero__button::after {
    display: none;
  }
}
.hero__design-text-1 {
  margin-left: -5%;
  margin-top: -7.5rem;
}
.hero__design-text-2 {
  margin-left: 65%;
  margin-top: -11.25rem;
}
@media (width <= 74.99875rem) {
  .hero__design-text-2 {
    display: none;
  }
}
.hero__design-text-3 {
  margin-left: 55%;
  margin-top: 10.625rem;
}
@media (width <= 74.99875rem) {
  .hero__design-text-3 {
    display: none;
  }
}
.hero__pizza-poster {
  pointer-events: none;
  width: 630px;
  height: clamp(40.25rem, 36.2210743802rem + 16.5289256198vw, 52.75rem);
  top: 7%;
  left: 67%;
  position: absolute;
  background-size: cover;
}
@media (width <= 74.99875rem) {
  .hero__pizza-poster {
    position: relative;
    left: 4%;
    top: 0;
    margin: 0;
  }
}
@media (width <= 38.74875rem) {
  .hero__pizza-poster {
    width: clamp(18.75rem, 12.7066115702rem + 24.7933884298vw, 37.5rem);
    height: clamp(18.75rem, 12.7066115702rem + 24.7933884298vw, 37.5rem);
  }
}

@media (min-width: 90.625rem) and (max-width: 101.5625rem) {
  .hero__pizza-poster {
    left: 62%;
    top: 6%;
  }
}
@media (min-width: 74.99875rem) and (max-width: 90.625rem) {
  .hero__pizza-poster {
    left: 56%;
    top: 5%;
  }
}
.pizza-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: clamp(6.875rem, 6.673553719rem + 0.826446281vw, 7.5rem);
}
.pizza-menu__title {
  padding-top: 0.625rem;
}
.pizza-menu__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3.6875rem;
}
.pizza-menu__header {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
@media (width <= 63.99875rem) {
  .pizza-menu__header {
    display: grid;
    gap: clamp(1.25rem, 0.444214876rem + 3.305785124vw, 3.75rem);
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
  }
}
.pizza-menu__button {
  white-space: nowrap;
  border: none;
  padding: clamp(0.625rem, 0.423553719rem + 0.826446281vw, 1.25rem) clamp(0.9375rem, -0.271177686rem + 4.958677686vw, 4.6875rem);
  background-color: var(--color-orange-1);
  color: var(--color-light);
  font-size: clamp(0.875rem, 0.7541322314rem + 0.4958677686vw, 1.25rem);
  font-weight: 500;
  border-radius: 100px;
  box-shadow: 0px 1px 5px black;
  transition: box-shadow 0.2s ease 0s;
}
@media (width <= 63.99875rem) {
  .pizza-menu__button:last-child {
    grid-column: 1/-1;
    justify-self: center;
  }
}
.pizza-menu__button.is-active {
  background: var(--gradient-accent);
  box-shadow: none;
}
@media (any-hover: hover) {
  .pizza-menu__button:hover:not(.is-active) {
    transition: box-shadow 0.2s ease 0s;
    box-shadow: 0px 0px 10px 0px var(--color-oranged);
  }
}
@media (any-hover: none) {
  .pizza-menu__button:active:not(.is-active) {
    transition: box-shadow 0.2s ease 0s;
    box-shadow: 0px 0px 10px 0px var(--color-oranged);
  }
}
.pizza-menu__cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  -moz-column-gap: clamp(1.5rem, 1.097107438rem + 1.652892562vw, 2.75rem);
       column-gap: clamp(1.5rem, 1.097107438rem + 1.652892562vw, 2.75rem);
  row-gap: 7.5rem;
}
@media (width <= 81.24875rem) {
  .pizza-menu__cards {
    grid-template-columns: repeat(2, auto);
    -moz-column-gap: clamp(1.5rem, -0.9173553719rem + 9.9173553719vw, 9rem);
         column-gap: clamp(1.5rem, -0.9173553719rem + 9.9173553719vw, 9rem);
  }
}
@media (width <= 38.74875rem) {
  .pizza-menu__cards {
    grid-template-columns: repeat(1, auto);
  }
}
.pizza-menu__design-text-1 {
  margin-left: -55%;
  margin-top: 25rem;
}
@media (width <= 81.24875rem) {
  .pizza-menu__design-text-1 {
    margin-top: 37.5rem;
  }
}
.pizza-menu__design-text-2 {
  margin-top: -20rem;
  margin-left: 60%;
}
.pizza-menu__design-text-3 {
  margin-top: -31.25rem;
  margin-left: -2.5rem;
}
.pizza-menu__popular-cards {
  padding-top: 40px;
}

.popular-block {
  background-image: url("../images/most-popular-pizza.png");
  background-repeat: no-repeat;
  width: 67vw;
  height: 286px;
  padding-inline: clamp(0.3125rem, 0.2117768595rem + 0.4132231405vw, 0.625rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  text-align: center;
}
@media (width <= 63.99875rem) {
  .popular-block {
    background-position: center;
  }
}
.popular-block__title {
  text-transform: uppercase;
  font-size: clamp(1.375rem, 0.9318181818rem + 1.8181818182vw, 2.75rem);
  font-weight: 500;
}

.events {
  padding-top: 5.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.4375rem;
}
.events__event {
  padding-block: 5.375rem 2.0625rem;
  padding-left: 1.8125rem;
  height: 16.25rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.events__hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 0.75rem;
}
.events__main-title {
  padding-left: 12.875rem;
}
@media (width <= 93.74875rem) {
  .events__main-title {
    padding: 0;
    margin-inline: auto;
  }
}
.events__description {
  color: var(--color-gray);
  max-width: 26.6875rem;
  font-size: clamp(1rem, 0.9395661157rem + 0.2479338843vw, 1.1875rem);
}
@media (width <= 74.99875rem) {
  .events__description {
    margin-inline: auto;
    width: clamp(12.5rem, 6.4566115702rem + 24.7933884298vw, 31.25rem);
    text-align: center;
  }
}
.events__title {
  font-size: 1.5625rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 109%;
}
.events__box {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
@media (width <= 93.74875rem) {
  .events__box {
    flex-direction: column;
    row-gap: 2.5rem;
  }
}
@media (width <= 93.74875rem) {
  .events__first-box {
    flex-direction: column-reverse;
  }
}
.events__button-more {
  font-size: 0.9375rem;
  padding: 0.6875rem 5.25rem;
  border-radius: 32px;
  max-width: 12.75rem;
}
.events__how-coockig-container {
  background: url("../images/how-we-cocking.png");
  min-width: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.events__how-coockig-container::before {
  content: url("../images/egg-and-becon.png");
  position: absolute;
  left: -135px;
  top: 125px;
}
@media (width <= 63.99875rem) {
  .events__how-coockig-container::before {
    display: none;
  }
}
@media (width <= 93.74875rem) {
  .events__how-coockig-container {
    min-width: clamp(18.75rem, 8.3755165289rem + 42.5619834711vw, 50.9375rem);
  }
}
.events__hero {
  min-width: 25.625rem;
}
.events__our-blog-container {
  background: url("../images/our-blog.png");
  min-width: 25rem;
  row-gap: 4.4375rem;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width <= 93.74875rem) {
  .events__our-blog-container {
    min-width: clamp(18.75rem, 8.3755165289rem + 42.5619834711vw, 50.9375rem);
  }
}
.events__two-pizza-container {
  background: url("../images/two-pizza.png");
  min-width: clamp(18.75rem, 12.4044421488rem + 26.0330578512vw, 38.4375rem);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width <= 93.74875rem) {
  .events__two-pizza-container {
    min-width: clamp(18.75rem, 8.3755165289rem + 42.5619834711vw, 50.9375rem);
  }
}
.events__kitchen-tour-container {
  background: url("../images/kitchen-tour.png");
  min-width: clamp(18.75rem, 12.4044421488rem + 26.0330578512vw, 38.4375rem);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.events__kitchen-tour-container::after {
  content: url("../images/buritto.png");
  position: absolute;
  left: 445px;
  top: -50px;
}
@media (width <= 93.74875rem) {
  .events__kitchen-tour-container::after {
    left: 77%;
    margin-top: 50px;
  }
}
@media (width <= 63.99875rem) {
  .events__kitchen-tour-container::after {
    display: none;
  }
}
@media (width <= 93.74875rem) {
  .events__kitchen-tour-container {
    min-width: clamp(18.75rem, 8.3755165289rem + 42.5619834711vw, 50.9375rem);
  }
}
.events__free-coffe-container {
  background: url("../images/free-coffe-for-pizza.png");
  min-width: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (width <= 93.74875rem) {
  .events__free-coffe-container {
    min-width: clamp(18.75rem, 8.3755165289rem + 42.5619834711vw, 50.9375rem);
  }
}
.events__free-coffe-container::before {
  content: url("../images/cofee.png");
  position: absolute;
  left: -28%;
  margin-top: -9%;
}
@media (width <= 93.74875rem) {
  .events__free-coffe-container::before {
    left: -22%;
    margin-top: -5%;
  }
}
@media (width <= 93.74875rem) and (width <= 63.99875rem) {
  .events__free-coffe-container::before {
    display: none;
  }
}
.events__our-instagram-container {
  background: url("../images/our-instagram.png");
  min-width: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width <= 93.74875rem) {
  .events__our-instagram-container {
    min-width: clamp(18.75rem, 8.3755165289rem + 42.5619834711vw, 50.9375rem);
  }
}
.events__choose-container {
  background: url("../images/choose-up.png");
  min-width: 25rem;
  row-gap: 1.3125rem;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width <= 93.74875rem) {
  .events__choose-container {
    min-width: clamp(18.75rem, 8.3755165289rem + 42.5619834711vw, 50.9375rem);
  }
}
.events__design-text {
  margin-left: -50%;
  margin-top: -11.25rem;
}

.about-us {
  padding-block: 4.375rem;
  padding-inline: clamp(2.5rem, 0.6869834711rem + 7.4380165289vw, 8.125rem);
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: clamp(3.125rem, -0.8837809917rem + 16.4462809917vw, 15.5625rem);
       column-gap: clamp(3.125rem, -0.8837809917rem + 16.4462809917vw, 15.5625rem);
}
.about-us__title {
  white-space: nowrap;
}
@media (width <= 74.99875rem) {
  .about-us__title {
    text-align: center;
  }
}
.about-us__container {
  display: flex;
  flex-direction: column;
  row-gap: 1.375rem;
}
.about-us__inner {
  display: flex;
  flex-direction: column;
  row-gap: 0.0625rem;
}
@media (width <= 74.99875rem) {
  .about-us__inner {
    align-items: center;
    justify-content: center;
  }
}
.about-us__description {
  color: var(--color-gray);
  font-size: clamp(1rem, 0.9194214876rem + 0.3305785124vw, 1.25rem);
  max-width: clamp(18.75rem, 15.4261363636rem + 13.6363636364vw, 29.0625rem);
}
@media (width <= 74.99875rem) {
  .about-us__description {
    margin-inline: auto;
    text-align: center;
  }
}
.about-us__vector {
  position: absolute;
  margin-left: -200px;
}
@media (width <= 74.99875rem) {
  .about-us__vector {
    display: none;
  }
}
.about-us__design-text-1 {
  margin-left: -6.25rem;
  margin-top: -7.5rem;
}
@media (width <= 74.99875rem) {
  .about-us__design-text-1 {
    margin-left: 0;
    position: absolute;
    left: 50%;
    translate: -50%;
  }
}
.about-us__design-text-2 {
  margin-left: 65%;
  margin-top: 34.375rem;
}
.about-us__pizza-poster {
  -o-object-fit: cover;
     object-fit: cover;
  width: clamp(24.375rem, 17.7272727273rem + 27.2727272727vw, 45rem);
  height: clamp(24.375rem, 17.7272727273rem + 27.2727272727vw, 45rem);
  pointer-events: none;
}
@media (width <= 74.99875rem) {
  .about-us__pizza-poster {
    display: none;
  }
}

.footer {
  padding: 4.1875rem 8.125rem;
  margin-top: 3.125rem;
  background: var(--gradient-footer);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  row-gap: 6.5625rem;
}
@media (width <= 47.99875rem) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer__logo {
  font-weight: 800;
  font-size: clamp(1.5rem, 1.298553719rem + 0.826446281vw, 2.125rem);
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (width <= 47.99875rem) {
  .footer__logo {
    margin-inline: auto;
  }
}
.footer__navigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: clamp(6.25rem, 3.7520661157rem + 10.2479338843vw, 14rem);
       column-gap: clamp(6.25rem, 3.7520661157rem + 10.2479338843vw, 14rem);
}
@media (width <= 47.99875rem) {
  .footer__navigation {
    flex-direction: column;
    row-gap: 3.75rem;
  }
}
.footer__links-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  -moz-column-gap: clamp(2.5rem, 0.8481404959rem + 6.7768595041vw, 7.625rem);
       column-gap: clamp(2.5rem, 0.8481404959rem + 6.7768595041vw, 7.625rem);
}
@media (width <= 74.99875rem) {
  .footer__links-block {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 2.5rem;
  }
}
.footer__inner {
  display: flex;
  flex-direction: column;
  row-gap: 0.3125rem;
}
.footer__main-title {
  white-space: nowrap;
  color: var(--color-gray);
  font-weight: 500;
  font-size: clamp(1rem, 0.9597107438rem + 0.1652892562vw, 1.125rem);
}
.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 0.1875rem;
}
.footer__link {
  white-space: nowrap;
  color: var(--color-gray-2);
  font-size: clamp(0.875rem, 0.8347107438rem + 0.1652892562vw, 1rem);
}
@media (width <= 47.99875rem) {
  .footer__link {
    white-space: normal;
    width: 5.625rem;
  }
}
.footer__connection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (width <= 47.99875rem) {
  .footer__connection {
    -moz-column-gap: clamp(2.5rem, -2.7376033058rem + 21.4876033058vw, 18.75rem);
         column-gap: clamp(2.5rem, -2.7376033058rem + 21.4876033058vw, 18.75rem);
  }
}
@media (width <= 38.74875rem) {
  .footer__connection {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.footer__popular-messengers {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.3125rem;
       column-gap: 0.3125rem;
}
.footer__phone {
  white-space: nowrap;
  font-size: clamp(1.125rem, 1.0645661157rem + 0.2479338843vw, 1.3125rem);
  font-weight: 500;
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.all-pizza {
  display: contents;
}
.all-pizza.filter {
  display: flex;
  gap: clamp(1.375rem, 1.0123966942rem + 1.4876033058vw, 2.5rem);
}

.all-cards.display-contents {
  display: contents;
}

.pizza-menu__card {
  width: clamp(15.625rem, 14.6782024793rem + 3.8842975207vw, 18.5625rem);
  height: clamp(28.3125rem, 27.3657024793rem + 3.8842975207vw, 31.25rem);
  background-color: var(--color-orange-1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.25rem;
  border-radius: 30px;
  padding-inline: clamp(1.5625rem, 1.4617768595rem + 0.4132231405vw, 1.875rem);
  padding-bottom: flid(10, 7);
}
.pizza-menu__card-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: clamp(1.125rem, 1.0847107438rem + 0.1652892562vw, 1.25rem);
}
.pizza-menu__name-pizza {
  margin-top: -1.6875rem;
  font-size: clamp(1.375rem, 1.3145661157rem + 0.2479338843vw, 1.5625rem);
  font-weight: 500;
}
.pizza-menu__description {
  color: var(--color-gray);
  max-width: 13.0625rem;
  font-size: clamp(0.75rem, 0.7032644628rem + 0.1917355372vw, 0.895rem);
}
.pizza-menu__image-pizza {
  margin-top: -5rem;
}
.pizza-menu__text {
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: clamp(0.9375rem, 0.9173553719rem + 0.0826446281vw, 1rem);
  transition: color 0.6s ease 0s, text-shadow 0.4s ease 0s;
}
.pizza-menu__button-add-ingredients {
  white-space: nowrap;
  border: none;
  font-size: clamp(0.9375rem, 0.9173553719rem + 0.0826446281vw, 1rem);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -o-border-image: linear-gradient(30deg, #FF6432 12.12%, #FFA228 86.72%) 1;
     border-image: linear-gradient(30deg, #FF6432 12.12%, #FFA228 86.72%) 1;
  border-style: solid;
  border-width: 0.125rem;
  color: var(--gradient-accent);
  padding: clamp(0.4375rem, 0.3770661157rem + 0.2479338843vw, 0.625rem) clamp(1.875rem, 1.472107438rem + 1.652892562vw, 3.125rem);
  position: relative;
}
@media (any-hover: hover) {
  .pizza-menu__button-add-ingredients:hover .pizza-menu__text {
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: currentColor;
    background-clip: border-box;
    color: white;
    text-shadow: var(--text-shadow);
    background: transparent;
    transition: color 0.1s ease 0s, text-shadow 0.2s ease 0s;
  }
}
@media (any-hover: none) {
  .pizza-menu__button-add-ingredients:active .pizza-menu__text {
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: currentColor;
    background-clip: border-box;
    color: white;
    text-shadow: var(--text-shadow);
    background: transparent;
    transition: color 0.1s ease 0s, text-shadow 0.2s ease 0s;
  }
}
.pizza-menu__button-add-ingredients:active .pizza-menu__text {
  text-shadow: none;
  transition: none;
}
.pizza-menu__block-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2.3125rem;
       column-gap: 2.3125rem;
}
.pizza-menu__checkbox {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
  border: 0.125rem solid var(--color-gray);
  position: relative;
}
.pizza-menu__checkbox::after {
  content: "";
  color: var(--color-gray);
  font-size: 0.9375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  margin-top: 0.125rem;
}
.pizza-menu__checkbox-smal::after {
  content: "22";
}
.pizza-menu__checkbox-normal::after {
  content: "28";
}
.pizza-menu__checkbox-big::after {
  content: "33";
}
.pizza-menu__checkbox:checked {
  background: var(--gradient-accent);
  border: none;
}
.pizza-menu__checkbox:checked::after {
  color: var(--color-light);
}
.pizza-menu__box {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2.875rem;
       column-gap: 2.875rem;
}
.pizza-menu__price {
  font-weight: 500;
  font-size: clamp(1.25rem, 1.1492768595rem + 0.4132231405vw, 1.5625rem);
  white-space: nowrap;
}
.pizza-menu__in-total {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.8125rem;
       column-gap: 0.8125rem;
}
.pizza-menu__button-reduce-the-number {
  filter: brightness(70%);
  border: none;
  background-color: transparent;
  transition: filter 0.4s ease 0s;
}
@media (any-hover: hover) {
  .pizza-menu__button-reduce-the-number:hover {
    filter: brightness(100%);
    transition: filter 0.4s ease 0s;
  }
}
@media (any-hover: none) {
  .pizza-menu__button-reduce-the-number:active {
    filter: brightness(100%);
    transition: filter 0.4s ease 0s;
  }
}
.pizza-menu__button-reduce-the-number:active {
  scale: 1.06;
  transition: none;
}
.pizza-menu__button-increase-the-number {
  border: none;
  background: transparent;
  transition: filter 0.4s ease 0s;
}
@media (any-hover: hover) {
  .pizza-menu__button-increase-the-number:hover {
    filter: hue-rotate(-40deg);
    transition: filter 0.4s ease 0s;
  }
}
@media (any-hover: none) {
  .pizza-menu__button-increase-the-number:active {
    filter: hue-rotate(-40deg);
    transition: filter 0.4s ease 0s;
  }
}
.pizza-menu__button-increase-the-number:active {
  scale: 1.06;
  transition: none;
}
.pizza-menu__count {
  font-size: clamp(1.125rem, 1.0242768595rem + 0.4132231405vw, 1.4375rem);
  color: var(--color-gray);
}
.pizza-menu__add-to-favorites {
  padding: clamp(0.4375rem, 0.3367768595rem + 0.4132231405vw, 0.75rem) clamp(1.875rem, 1.3713842975rem + 2.0661157025vw, 3.4375rem);
  font-size: clamp(1rem, 0.9597107438rem + 0.1652892562vw, 1.125rem);
  border-radius: 100px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 100;
}

.block-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.block-popup .container {
  position: relative;
  width: clamp(21.875rem, 11.8026859504rem + 41.3223140496vw, 53.125rem);
  background: #fff;
  padding: 40px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  perspective: 2700px;
}
.block-popup .container__button-close {
  position: absolute;
  background-color: transparent;
  border: none;
  top: -30px;
  left: -40px;
  background-color: rgb(207, 108, 108);
}
.block-popup .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.block-popup .cover .front,
.block-popup .cover .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.block-popup .cover .back {
  transform: rotateY(180deg);
}
.block-popup .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
}
.block-popup #flip {
  display: none;
}
.block-popup #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}
.block-popup #flip:checked ~ .forms .login-form {
  pointer-events: none;
}
.block-popup .forms {
  height: 100%;
  width: 100%;
  background: var(--color-light);
}
.block-popup .forms .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block-popup .forms .form-content .login-form,
.block-popup .forms .form-content .signup-form {
  width: calc(50% - 25px);
}
.block-popup .forms .form-content .title {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-gray-4);
}
.block-popup .forms .form-content .signup-form .title:before {
  width: 20px;
}
.block-popup .forms .form-content .input-boxes {
  margin-top: 30px;
}
.block-popup .forms .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.block-popup .forms .form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 0.625rem;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.block-popup .forms .form-content .input-box input:focus, .block-popup .forms .form-content .input-box input:valid {
  border-color: var(--color-orange);
}
.block-popup .forms .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gray-4);
}
.block-popup .forms .form-content .text a {
  text-decoration: none;
}
.block-popup .forms .form-content .text a:hover {
  text-decoration: underline;
}
.block-popup .forms .form-content .button {
  color: var(--color-light);
  margin-top: 40px;
}
.block-popup .forms .form-content .button input {
  color: var(--color-light);
  background: rgb(151, 49, 2);
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.block-popup .forms .form-content .button input:hover {
  transition: filter 0.4s ease 0s;
  filter: hue-rotate(-40deg);
}
.block-popup .forms .form-content label {
  color: #5b13b9;
  cursor: pointer;
}
.block-popup .forms .form-content label:hover {
  text-decoration: underline;
}
.block-popup .forms .form-content .login-text,
.block-popup .forms .form-content .sign-up-text {
  text-align: center;
  margin-top: 25px;
}

@media (max-width: 45.625rem) {
  .container .forms .form-content .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .forms .form-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .cover {
    display: none;
  }
  .container #flip:checked ~ .forms .signup-form {
    display: block;
  }
  .container #flip:checked ~ .forms .login-form {
    display: none;
  }
  .form-content .login-form,
  .form-content .signup-form {
    width: clamp(12.5rem, 4.4421487603rem + 33.0578512397vw, 37.5rem) !important;
  }
  .form-content .signup-form {
    display: none;
  }
}
.accent-button {
  color: var(--color-light);
  font-weight: 500;
  background: var(--gradient-accent);
  border: none;
  transition: filter 0.4s ease-in 0s;
  position: relative;
  z-index: 2;
}
@media (any-hover: hover) {
  .accent-button:hover {
    filter: hue-rotate(-20deg);
    transition: filter 0.2s ease-in 0s;
  }
}
@media (any-hover: none) {
  .accent-button:active {
    filter: hue-rotate(-20deg);
    transition: filter 0.2s ease-in 0s;
  }
}
.accent-button:active {
  color: var(--color-gray);
}

.burger-button {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  background-color: transparent;
  border: none;
  transition: box-shadow 0.2s ease 0s;
  width: 2.125rem;
}
.burger-button__line {
  width: 100%;
  height: 0.1875rem;
  background: var(--gradient-accent);
  border-radius: 100px;
}
@media (any-hover: hover) {
  .burger-button:hover .burger-button__line {
    box-shadow: 0 0 20px 1px orange;
    transition: box-shadow 0.2s ease 0s;
  }
}
@media (any-hover: none) {
  .burger-button:active .burger-button__line {
    box-shadow: 0 0 20px 1px orange;
    transition: box-shadow 0.2s ease 0s;
  }
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  translate: -0.2em 0.38em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  opacity: 0;
}
.burger-button.is-active .burger-button__line:last-child {
  rotate: -45deg;
  transform-origin: 0;
}/*# sourceMappingURL=main.css.map */