@use "fonts";
@use "globals";
@use "normalize";
@use "utils";
@use "variables";


@use "blocks/header";
@use "blocks/hero";
@use "blocks/pizza-menu";
@use "blocks/events";
@use "blocks/about-us";
@use "blocks/footer";
@use "blocks/card";


@use "blocks/accent-button";
@use "blocks/burger-button";
