@charset "UTF-8";
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AlexBrush";
  src: url("../fonts/AlexBrush-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html.is-lock {
  overflow: hidden;
}

body {
  background: var(--fon-gradient) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-light);
  font-family: "Muller";
  font-weight: 400;
}

h1, .h1 {
  font-size: clamp(3rem, 2.5769628099rem + 1.7355371901vw, 4.3125rem);
}

h2, .h2 {
  font-size: clamp(3rem, 2.5769628099rem + 1.7355371901vw, 4.3125rem);
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width <= 74.99875rem) {
  .hidden-custom-tablet {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width <= 90.06125rem) {
  .hidden-laptop {
    display: none !important;
  }
}

@media (width > 90.06125rem) {
  .visible-laptop {
    display: none !important;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease 0s;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  transition: all 0.4s ease 0s;
}

.design-text {
  font-family: "AlexBrush";
  font-weight: 400;
  font-size: 13.125rem;
  position: absolute;
  z-index: -2;
  color: transparent;
  -webkit-text-stroke: 1px rgb(48, 32, 7);
} /* Pizza */
:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-black-1: #1D0800;
  --color-orange-1: #210A01;
  --color-gray: #A3A3A3;
  --color-gray-3: #dadada;
  --color-gray-2: #515151;
  --color-brown: rgb(22, 10, 2);
  --color-brown-2: #0a0500;
  --color-oranged: #FF4500;
  --color-red: #d12e2e;
  --border: 0.0625rem solid var(--color-gray);
  --text-shadow: 1px 1px 10px orange, 2px 1px 10px orangered;
  --fon-gradient: linear-gradient(245.71deg, #1E0C00 4.96%, #1F0700 33.7%, #170A00 68.41%, #1E0D00 96.42%);
  --gradient-accent: linear-gradient(261.69deg, #FF6432 12.12%, #FFA228 86.72%);
  --gradient-footer: linear-gradient(245.71deg, #170A00 4.96%, #170600 33.7%, #0F0700 68.41%, #170A00 96.42%);
  --gradinet-stroke-text: linear-gradient(180deg, rgba(255, 101, 51, 0.33) 0%, #FFA733 100%);
  --font-basic: "Muller";
}

.header {
  padding: clamp(2.375rem, 2.173553719rem + 0.826446281vw, 3rem) clamp(0.9375rem, -1.3589876033rem + 9.4214876033vw, 8.0625rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: clamp(0.3125rem, -3.5351239669rem + 15.7851239669vw, 12.25rem);
       column-gap: clamp(0.3125rem, -3.5351239669rem + 15.7851239669vw, 12.25rem);
}
.header__logo {
  font-weight: 800;
  font-size: clamp(1.5rem, 1.298553719rem + 0.826446281vw, 2.125rem);
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (width > 47.99875rem) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 47.99875rem) {
  .header__overlay.active {
    width: 100vw;
    height: 100vh;
    inset: 0;
    background: var(--gradient-footer);
    position: fixed;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.125rem;
    z-index: 2;
    padding-block: 2.5rem;
  }
}
.header__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: clamp(1.25rem, 5vw, 5rem);
       column-gap: clamp(1.25rem, 5vw, 5rem);
}
@media (width <= 47.99875rem) {
  .header__menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 2.1875rem;
  }
}
.header__menu-item {
  display: inline-flex;
  position: relative;
}
.header__menu-link {
  font-size: clamp(1rem, 0.9597107438rem + 0.1652892562vw, 1.125rem);
  color: var(--color-gray);
  position: relative;
  white-space: nowrap;
}
@media (width <= 47.99875rem) {
  .header__menu-link {
    font-size: 1.5625rem;
  }
}
.header__menu-link::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.125rem;
  background: var(--gradient-accent);
  content: "";
  transition: width 0.3s ease-out;
}
.header__menu-link:hover::after {
  width: 100%;
}
@media (any-hover: hover) {
  .header__menu-link:hover {
    background: var(--gradient-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
@media (any-hover: none) {
  .header__menu-link:active {
    background: var(--gradient-accent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
.header__box {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.625rem;
       column-gap: 1.625rem;
}
@media (width <= 47.99875rem) {
  .header__box {
    -moz-column-gap: 1.4375rem;
         column-gap: 1.4375rem;
    flex-direction: row-reverse;
  }
}
@media (width <= 30.06125rem) {
  .header__box {
    -moz-column-gap: 0.625rem;
         column-gap: 0.625rem;
  }
}
.header__button-favourites {
  background-color: transparent;
  border: none;
  aspect-ratio: 1/1; /* Сохраняем квадратную форму */
  width: clamp(45px, 5vw, 60px); /* Адаптивная ширина */
  height: auto;
}
@media (any-hover: hover) {
  .header__button-favourites:hover {
    filter: hue-rotate(-20deg);
    transition: filter 0.2s ease-in 0s;
  }
}
@media (any-hover: none) {
  .header__button-favourites:active {
    filter: hue-rotate(-20deg);
    transition: filter 0.2s ease-in 0s;
  }
}
.header__button-favourites__icon-favourites {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
.header__button-login {
  font-size: 1.125rem;
  font-weight: 500;
  border: none;
  border-radius: 100px;
  color: var(--color-light);
  padding: clamp(0.3125rem, 0.5625rem, 0.625rem) clamp(1.25rem, 2.875rem, 3.5rem);
  background: var(--gradient-accent);
  white-space: nowrap;
}
@media (width <= 63.99875rem) {
  .header__button-login {
    display: none;
  }
}
.header__button-login, .header__button-favourites {
  position: relative;
  z-index: 100;
}

.hero {
  border-bottom: 0.125rem dashed var(--color-light);
  padding-inline: clamp(2.5rem, 0.6869834711rem + 7.4380165289vw, 8.125rem);
  padding-top: clamp(1.9375rem, 1.333161157rem + 2.479338843vw, 3.8125rem);
  padding-bottom: clamp(2.5rem, 1.492768595rem + 4.132231405vw, 5.625rem);
  display: flex;
  flex-direction: row;
}
@media (width <= 74.99875rem) {
  .hero {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    row-gap: 2.5rem;
    padding-top: clamp(1.25rem, 1.1492768595rem + 0.4132231405vw, 1.5625rem);
  }
}
.hero__inner {
  display: flex;
  flex-direction: column;
  row-gap: 1.125rem;
}
.hero__box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.hero__title {
  max-width: 33.625rem;
  line-height: 1.2;
  position: relative;
}
@media (width <= 74.99875rem) {
  .hero__title {
    text-align: center;
  }
  .hero__title::after {
    display: none;
  }
}
.hero__title::after {
  content: url("../icons/vector.svg");
  position: absolute;
  right: 0.4em;
  top: 0;
}
.hero__description-block {
  display: flex;
  flex-direction: column;
  row-gap: 1.5625rem;
}
@media (width <= 74.99875rem) {
  .hero__description-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.hero__description {
  font-size: 1.25rem;
  max-width: 26.1875rem;
  color: var(--color-gray);
}
@media (width <= 74.99875rem) {
  .hero__description {
    text-align: center1;
  }
}
.hero__highlighting {
  color: var(--color-light);
}
.hero__video {
  background-image: url("../images/pizza-video.jpg");
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  border-radius: 23px;
  max-width: 272px;
  height: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 0.4s ease-in 0s;
}
@media (width <= 74.99875rem) {
  .hero__coocking-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.hero__open-video {
  background-color: transparent;
  border: none;
  transition: scale 0.3s ease-in 0s;
}
@media (any-hover: hover) {
  .hero__open-video:hover {
    transition: scale 0.2s ease-in 0s;
    scale: 1.2;
  }
}
@media (any-hover: none) {
  .hero__open-video:active {
    transition: scale 0.2s ease-in 0s;
    scale: 1.2;
  }
}
.hero__open-video:active {
  scale: 1.1;
  transition: none;
}
.hero__open-video-icon {
  width: 150px;
  height: 150px;
}
.hero__coocking-block {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.hero__coocking-box {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
.hero__button {
  border: 0.125rem dotted var(--color-light);
  border-radius: 100px;
  max-width: 15rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.625rem;
  color: var(--color-brown);
  font-size: 1.5625rem;
  -webkit-text-stroke: 0.01875rem var(--color-light);
  cursor: pointer;
  transition: all 0.4s ease 0s;
}
@media (any-hover: hover) {
  .hero__button:hover {
    -webkit-text-stroke: 0 transparent;
    color: var(--color-oranged);
    transition: all 0.4s ease 0s;
    border: 0.125rem dotted var(--color-oranged);
    box-shadow: inset 0px 0px 20px 0px var(--color-dark);
  }
}
@media (any-hover: none) {
  .hero__button:active {
    -webkit-text-stroke: 0 transparent;
    color: var(--color-oranged);
    transition: all 0.4s ease 0s;
    border: 0.125rem dotted var(--color-oranged);
    box-shadow: inset 0px 0px 20px 0px var(--color-dark);
  }
}
.hero__button::after {
  content: url("../icons/vector-2.svg");
  position: absolute;
  margin-left: 23%;
  margin-top: 10%;
  pointer-events: none;
}
@media (width <= 74.99875rem) {
  .hero__button {
    padding-inline: clamp(0.9375rem, 0.8367768595rem + 0.4132231405vw, 1.25rem);
    margin-inline: auto;
  }
  .hero__button::after {
    display: none;
  }
}
.hero__design-text-1 {
  margin-left: 2.8125rem;
  margin-top: -7.5rem;
}
.hero__design-text-2 {
  margin-left: 75rem;
  margin-top: -11.25rem;
}
.hero__design-text-3 {
  margin-left: 60.625rem;
  margin-top: 9.375rem;
}
.hero__pizza-poster {
  pointer-events: none;
  width: 610px;
  height: clamp(40.25rem, 36.2210743802rem + 16.5289256198vw, 52.75rem);
  top: 7%;
  left: 67%;
  position: absolute;
  background-size: cover;
}
@media (width <= 74.99875rem) {
  .hero__pizza-poster {
    position: relative;
    left: 4%;
    top: 0;
    margin: 0;
    width: 42.875rem;
    height: 23.6875rem;
  }
}

@media (min-width: 90.625rem) and (max-width: 101.5625rem) {
  .hero__pizza-poster {
    left: 62%;
    top: 6%;
  }
}
@media (min-width: 74.99875rem) and (max-width: 90.625rem) {
  .hero__pizza-poster {
    left: 56%;
    top: 5%;
  }
}
.pizza-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: clamp(6.875rem, 6.673553719rem + 0.826446281vw, 7.5rem);
}
.pizza-menu__title {
  padding-top: 0.625rem;
}
.pizza-menu__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3.6875rem;
}
.pizza-menu__header {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
@media (width <= 63.99875rem) {
  .pizza-menu__header {
    display: grid;
    gap: clamp(1.25rem, 0.444214876rem + 3.305785124vw, 3.75rem);
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
  }
}
.pizza-menu__button {
  white-space: nowrap;
  border: none;
  padding: clamp(0.625rem, 0.423553719rem + 0.826446281vw, 1.25rem) clamp(0.9375rem, -0.271177686rem + 4.958677686vw, 4.6875rem);
  background-color: var(--color-orange-1);
  color: var(--color-light);
  font-size: clamp(0.875rem, 0.7541322314rem + 0.4958677686vw, 1.25rem);
  font-weight: 500;
  border-radius: 100px;
  box-shadow: 0px 1px 5px black;
  transition: box-shadow 0.2s ease 0s;
}
@media (width <= 63.99875rem) {
  .pizza-menu__button:last-child {
    grid-column: 1/-1;
    justify-self: center;
  }
}
.pizza-menu__button.is-active {
  background: var(--gradient-accent);
  box-shadow: none;
}
@media (any-hover: hover) {
  .pizza-menu__button:hover {
    transition: box-shadow 0.2s ease 0s;
    box-shadow: 0px 0px 10px 0px var(--color-oranged);
  }
}
@media (any-hover: none) {
  .pizza-menu__button:active {
    transition: box-shadow 0.2s ease 0s;
    box-shadow: 0px 0px 10px 0px var(--color-oranged);
  }
}
.pizza-menu__cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  -moz-column-gap: clamp(1.5rem, 1.097107438rem + 1.652892562vw, 2.75rem);
       column-gap: clamp(1.5rem, 1.097107438rem + 1.652892562vw, 2.75rem);
  row-gap: 7.5rem;
}
@media (width <= 81.24875rem) {
  .pizza-menu__cards {
    grid-template-columns: repeat(2, auto);
    -moz-column-gap: clamp(1.5rem, -0.9173553719rem + 9.9173553719vw, 9rem);
         column-gap: clamp(1.5rem, -0.9173553719rem + 9.9173553719vw, 9rem);
  }
}
@media (width <= 38.74875rem) {
  .pizza-menu__cards {
    grid-template-columns: repeat(1, auto);
  }
}
.pizza-menu__design-text-1 {
  margin-left: -68.75rem;
  margin-top: 25rem;
}
.pizza-menu__design-text-2 {
  margin-top: -20rem;
  margin-left: 62.5rem;
}
.pizza-menu__design-text-3 {
  margin-top: -31.25rem;
  margin-left: -2.5rem;
}
.pizza-menu__popular-cards {
  padding-top: 40px;
}

.popular-block {
  background-image: url("../images/most-popular-pizza.png");
  background-repeat: no-repeat;
  width: 67vw;
  height: 286px;
  padding-inline: clamp(0.3125rem, 0.2117768595rem + 0.4132231405vw, 0.625rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  text-align: center;
}
@media (width <= 63.99875rem) {
  .popular-block {
    background-position: center;
  }
}
.popular-block__title {
  text-transform: uppercase;
  font-size: clamp(1.375rem, 0.9318181818rem + 1.8181818182vw, 2.75rem);
  font-weight: 500;
}

.events {
  padding-top: 5.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.4375rem;
}
.events__event {
  padding-block: 5.375rem 2.0625rem;
  padding-left: 1.8125rem;
  height: 16.25rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.events__hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 0.75rem;
}
.events__main-title {
  padding-left: 12.875rem;
}
@media (width <= 93.74875rem) {
  .events__main-title {
    padding: 0;
    margin-inline: auto;
  }
}
.events__description {
  color: var(--color-gray);
  max-width: 26.6875rem;
  font-size: 1.1875rem;
}
.events__title {
  font-size: 1.5625rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 109%;
}
.events__box {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
@media (width <= 93.74875rem) {
  .events__box {
    flex-direction: column;
    row-gap: 2.5rem;
  }
}
@media (width <= 93.74875rem) {
  .events__first-box {
    flex-direction: column-reverse;
  }
}
.events__button-more {
  font-size: 0.9375rem;
  padding: 0.6875rem 5.25rem;
  border-radius: 32px;
  max-width: 12.75rem;
}
.events__how-coockig-container {
  background: url("../images/how-we-cocking.png");
  min-width: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.events__how-coockig-container::before {
  content: url("../images/egg-and-becon.png");
  position: absolute;
  left: -135px;
  top: 125px;
}
@media (width <= 63.99875rem) {
  .events__how-coockig-container::before {
    display: none;
  }
}
@media (width <= 93.74875rem) {
  .events__how-coockig-container {
    min-width: clamp(18.75rem, 8.3755165289rem + 42.5619834711vw, 50.9375rem);
  }
}
.events__hero {
  min-width: 25.625rem;
}
.events__our-blog-container {
  background: url("../images/our-blog.png");
  min-width: 25rem;
  row-gap: 4.4375rem;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width <= 93.74875rem) {
  .events__our-blog-container {
    min-width: clamp(18.75rem, 8.3755165289rem + 42.5619834711vw, 50.9375rem);
  }
}
.events__two-pizza-container {
  background: url("../images/two-pizza.png");
  min-width: clamp(18.75rem, 12.4044421488rem + 26.0330578512vw, 38.4375rem);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width <= 93.74875rem) {
  .events__two-pizza-container {
    min-width: clamp(18.75rem, 8.3755165289rem + 42.5619834711vw, 50.9375rem);
  }
}
.events__kitchen-tour-container {
  background: url("../images/kitchen-tour.png");
  min-width: clamp(18.75rem, 12.4044421488rem + 26.0330578512vw, 38.4375rem);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.events__kitchen-tour-container::after {
  content: url("../images/buritto.png");
  position: absolute;
  left: 445px;
  top: -50px;
}
@media (width <= 93.74875rem) {
  .events__kitchen-tour-container::after {
    left: 77%;
    margin-top: 50px;
  }
}
@media (width <= 63.99875rem) {
  .events__kitchen-tour-container::after {
    display: none;
  }
}
@media (width <= 93.74875rem) {
  .events__kitchen-tour-container {
    min-width: clamp(18.75rem, 8.3755165289rem + 42.5619834711vw, 50.9375rem);
  }
}
.events__free-coffe-container {
  background: url("../images/free-coffe-for-pizza.png");
  min-width: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (width <= 93.74875rem) {
  .events__free-coffe-container {
    min-width: clamp(18.75rem, 8.3755165289rem + 42.5619834711vw, 50.9375rem);
  }
}
.events__free-coffe-container::before {
  content: url("../images/cofee.png");
  position: absolute;
  left: -28%;
  margin-top: -9%;
}
@media (width <= 93.74875rem) {
  .events__free-coffe-container::before {
    left: -22%;
    margin-top: -5%;
  }
}
@media (width <= 93.74875rem) and (width <= 63.99875rem) {
  .events__free-coffe-container::before {
    display: none;
  }
}
.events__our-instagram-container {
  background: url("../images/our-instagram.png");
  min-width: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width <= 93.74875rem) {
  .events__our-instagram-container {
    min-width: clamp(18.75rem, 8.3755165289rem + 42.5619834711vw, 50.9375rem);
  }
}
.events__choose-container {
  background: url("../images/choose-up.png");
  min-width: 25rem;
  row-gap: 1.3125rem;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width <= 93.74875rem) {
  .events__choose-container {
    min-width: clamp(18.75rem, 8.3755165289rem + 42.5619834711vw, 50.9375rem);
  }
}
.events__design-text {
  margin-left: -68.75rem;
  margin-top: -11.25rem;
}

.about-us {
  padding-block: 4.375rem;
  padding-inline: clamp(2.5rem, 0.6869834711rem + 7.4380165289vw, 8.125rem);
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: clamp(3.125rem, -0.8837809917rem + 16.4462809917vw, 15.5625rem);
       column-gap: clamp(3.125rem, -0.8837809917rem + 16.4462809917vw, 15.5625rem);
}
.about-us__title {
  white-space: nowrap;
}
@media (width <= 74.99875rem) {
  .about-us__title {
    text-align: center;
  }
}
.about-us__container {
  display: flex;
  flex-direction: column;
  row-gap: 1.375rem;
}
.about-us__inner {
  display: flex;
  flex-direction: column;
  row-gap: 0.0625rem;
}
@media (width <= 74.99875rem) {
  .about-us__inner {
    align-items: center;
    justify-content: center;
  }
}
.about-us__description {
  color: var(--color-gray);
  font-size: clamp(1rem, 0.9194214876rem + 0.3305785124vw, 1.25rem);
  max-width: clamp(18.75rem, 15.4261363636rem + 13.6363636364vw, 29.0625rem);
}
@media (width <= 74.99875rem) {
  .about-us__description {
    margin-inline: auto;
    text-align: center;
  }
}
.about-us__vector {
  position: absolute;
  margin-left: -200px;
}
.about-us__design-text-1 {
  margin-left: -6.25rem;
  margin-top: -7.5rem;
}
@media (width <= 74.99875rem) {
  .about-us__design-text-1 {
    margin-left: 0;
    position: absolute;
    left: 50%;
    translate: -50%;
  }
}
.about-us__design-text-2 {
  margin-left: 75rem;
  margin-top: 34.375rem;
}
.about-us__pizza-poster {
  -o-object-fit: cover;
     object-fit: cover;
  width: clamp(24.375rem, 17.7272727273rem + 27.2727272727vw, 45rem);
  height: clamp(24.375rem, 17.7272727273rem + 27.2727272727vw, 45rem);
  pointer-events: none;
}
@media (width <= 74.99875rem) {
  .about-us__pizza-poster {
    display: none;
  }
}

.footer {
  padding: 4.1875rem 8.125rem;
  margin-top: 3.125rem;
  background: var(--gradient-footer);
  height: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 6.5625rem;
}
.footer__logo {
  font-weight: 800;
  font-size: clamp(1.5rem, 1.298553719rem + 0.826446281vw, 2.125rem);
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.footer__navigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 5.25rem;
       column-gap: 5.25rem;
}
.footer__th-link {
  color: var(--color-gray);
  font-weight: 500;
  font-size: 1.125rem;
}
.footer__link {
  white-space: nowrap;
  color: var(--color-gray-2);
}
.footer__table {
  border-collapse: separate;
  border-spacing: 0.9375rem 0;
  text-align: left;
}
.footer__td-margin {
  width: 6.25rem;
}
.footer__connection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__popular-messengers {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.3125rem;
       column-gap: 0.3125rem;
}
.footer__phone {
  font-size: 1.3125rem;
  font-weight: 500;
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.pizza-menu__card {
  width: clamp(15.625rem, 14.6782024793rem + 3.8842975207vw, 18.5625rem);
  height: clamp(28.3125rem, 27.3657024793rem + 3.8842975207vw, 31.25rem);
  background-color: var(--color-orange-1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.25rem;
  border-radius: 30px;
  padding-inline: clamp(1.5625rem, 1.4617768595rem + 0.4132231405vw, 1.875rem);
  padding-bottom: flid(10, 7);
}
.pizza-menu__card-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: clamp(1.125rem, 1.0847107438rem + 0.1652892562vw, 1.25rem);
}
.pizza-menu__name-pizza {
  margin-top: -1.6875rem;
  font-size: clamp(1.375rem, 1.3145661157rem + 0.2479338843vw, 1.5625rem);
  font-weight: 500;
}
.pizza-menu__description {
  color: var(--color-gray);
  max-width: 13.0625rem;
  font-size: clamp(0.75rem, 0.7032644628rem + 0.1917355372vw, 0.895rem);
}
.pizza-menu__image-pizza {
  margin-top: -5rem;
}
.pizza-menu__text {
  background: var(--gradient-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: clamp(0.9375rem, 0.9173553719rem + 0.0826446281vw, 1rem);
  transition: color 0.6s ease 0s, text-shadow 0.4s ease 0s;
}
.pizza-menu__button-add-ingredients {
  white-space: nowrap;
  border: none;
  font-size: clamp(0.9375rem, 0.9173553719rem + 0.0826446281vw, 1rem);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -o-border-image: linear-gradient(30deg, #FF6432 12.12%, #FFA228 86.72%) 1;
     border-image: linear-gradient(30deg, #FF6432 12.12%, #FFA228 86.72%) 1;
  border-style: solid;
  border-width: 0.125rem;
  color: var(--gradient-accent);
  padding: clamp(0.4375rem, 0.3770661157rem + 0.2479338843vw, 0.625rem) clamp(1.875rem, 1.472107438rem + 1.652892562vw, 3.125rem);
  position: relative;
}
@media (any-hover: hover) {
  .pizza-menu__button-add-ingredients:hover .pizza-menu__text {
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: currentColor;
    background-clip: border-box;
    color: white;
    text-shadow: var(--text-shadow);
    background: transparent;
    transition: color 0.1s ease 0s, text-shadow 0.2s ease 0s;
  }
}
@media (any-hover: none) {
  .pizza-menu__button-add-ingredients:active .pizza-menu__text {
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: currentColor;
    background-clip: border-box;
    color: white;
    text-shadow: var(--text-shadow);
    background: transparent;
    transition: color 0.1s ease 0s, text-shadow 0.2s ease 0s;
  }
}
.pizza-menu__button-add-ingredients:active .pizza-menu__text {
  text-shadow: none;
  transition: none;
}
.pizza-menu__block-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2.3125rem;
       column-gap: 2.3125rem;
}
.pizza-menu__checkbox {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
  border: 0.125rem solid var(--color-gray);
  position: relative;
}
.pizza-menu__checkbox::after {
  content: "";
  color: var(--color-gray);
  font-size: 0.9375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  margin-top: 0.125rem;
}
.pizza-menu__checkbox-smal::after {
  content: "22";
}
.pizza-menu__checkbox-normal::after {
  content: "28";
}
.pizza-menu__checkbox-big::after {
  content: "33";
}
.pizza-menu__checkbox:checked {
  background: var(--gradient-accent);
  border: none;
}
.pizza-menu__checkbox:checked::after {
  color: var(--color-light);
}
.pizza-menu__box {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2.875rem;
       column-gap: 2.875rem;
}
.pizza-menu__price {
  font-weight: 500;
  font-size: clamp(1.25rem, 1.1492768595rem + 0.4132231405vw, 1.5625rem);
  white-space: nowrap;
}
.pizza-menu__in-total {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.8125rem;
       column-gap: 0.8125rem;
}
.pizza-menu__button-reduce-the-number {
  filter: brightness(70%);
  border: none;
  background-color: transparent;
  transition: filter 0.4s ease 0s;
}
@media (any-hover: hover) {
  .pizza-menu__button-reduce-the-number:hover {
    filter: brightness(100%);
    transition: filter 0.4s ease 0s;
  }
}
@media (any-hover: none) {
  .pizza-menu__button-reduce-the-number:active {
    filter: brightness(100%);
    transition: filter 0.4s ease 0s;
  }
}
.pizza-menu__button-reduce-the-number:active {
  scale: 1.06;
  transition: none;
}
.pizza-menu__button-increase-the-number {
  border: none;
  background: transparent;
  transition: filter 0.4s ease 0s;
}
@media (any-hover: hover) {
  .pizza-menu__button-increase-the-number:hover {
    filter: hue-rotate(-40deg);
    transition: filter 0.4s ease 0s;
  }
}
@media (any-hover: none) {
  .pizza-menu__button-increase-the-number:active {
    filter: hue-rotate(-40deg);
    transition: filter 0.4s ease 0s;
  }
}
.pizza-menu__button-increase-the-number:active {
  scale: 1.06;
  transition: none;
}
.pizza-menu__count {
  font-size: clamp(1.125rem, 1.0242768595rem + 0.4132231405vw, 1.4375rem);
  color: var(--color-gray);
}
.pizza-menu__add-to-favorites {
  padding: clamp(0.4375rem, 0.3367768595rem + 0.4132231405vw, 0.75rem) clamp(1.875rem, 1.3713842975rem + 2.0661157025vw, 3.4375rem);
  font-size: clamp(1rem, 0.9597107438rem + 0.1652892562vw, 1.125rem);
  border-radius: 100px;
}

.accent-button {
  color: var(--color-light);
  font-weight: 500;
  background: var(--gradient-accent);
  border: none;
  transition: filter 0.4s ease-in 0s;
  position: relative;
  z-index: 2;
}
@media (any-hover: hover) {
  .accent-button:hover {
    filter: hue-rotate(-20deg);
    transition: filter 0.2s ease-in 0s;
  }
}
@media (any-hover: none) {
  .accent-button:active {
    filter: hue-rotate(-20deg);
    transition: filter 0.2s ease-in 0s;
  }
}
.accent-button:active {
  color: var(--color-gray);
}

.burger-button {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  background-color: transparent;
  border: none;
  transition: box-shadow 0.2s ease 0s;
  width: 2.125rem;
}
.burger-button__line {
  width: 100%;
  height: 0.1875rem;
  background: var(--gradient-accent);
  border-radius: 100px;
}
@media (any-hover: hover) {
  .burger-button:hover .burger-button__line {
    box-shadow: 0 0 20px 1px orange;
    transition: box-shadow 0.2s ease 0s;
  }
}
@media (any-hover: none) {
  .burger-button:active .burger-button__line {
    box-shadow: 0 0 20px 1px orange;
    transition: box-shadow 0.2s ease 0s;
  }
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  translate: -0.2em 0.38em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  opacity: 0;
}
.burger-button.is-active .burger-button__line:last-child {
  rotate: -45deg;
  transform-origin: 0;
}/*# sourceMappingURL=main.css.map */